.easylogin p {
  font-size: 1.5em;
  padding-top: 5px;
  padding-bottom: 5px;
}
.easylogin h2 {
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
}

/* create card like bootstrap card */

.easylogin .card {
  border: none;
  border-radius: 0;
  box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08);
}

/* image with no border */

.easylogin .card img {
  text-align: center;
  border-radius: 0;
  border: none;
  margin: 0 auto;
}

.easylogin h4 {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.easylogin .success-message {
  border: 1px solid #28a745;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.d-none {
  display: none;
}

.easylogin-login {
  text-align: center;
  margin-bottom: 20px;
}
.easylogin-login a {
  color: #007bff;
  text-decoration: none;
  font-size: 1.5em;
}
.easylogin-login .dashicons {
  font-size: 1.5em;
  margin-right: 15px;
}
